@import "compass/reset";
* {
	box-sizing: border-box !important;
}

.carousel {
	position: relative;
	overflow: hidden;
}

.carousel__inner {
	position: relative;

	.active {
		opacity: 1;
	}
}

.carousel__slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	transition: opacity 1s linear;

	span {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 500px;
		text-align: center;
		font: 200px Arial,sans-serif;
		color: #000;
	}
}

.carousel__control {
	display: flex;
	padding: 0 30px;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	width: 100%;
	top: 50%;
	box-sizing: border-box;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	

	div {
		padding: 15px;
		background-color: gold;
		color: #000;
		border-radius: 50%;
		cursor: pointer;
	}
}

.carousel__navs {
	position: absolute;
	bottom: 20px;
	padding: 20px 15px;
	text-align: center;
	width: 100%;
	
	span {
		display: inline-block;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #333;
		margin-right: 10px;
		cursor: pointer;
		transition: all 1s ease-in-out;
	}

	.active {
		background-color: red;
	}
}